
.list-image {
  height: 180px;
  width: 100%;
  object-fit: contain;
}

.list-item:hover {
    -webkit-box-shadow:inset 0px 0px 0px 6px #000;
    -moz-box-shadow:inset 0px 0px 0px 6px #000;
    box-shadow:inset 0px 0px 0px 6px #000;
}